<div class="container">
    <div class="row">
        <ul>
        <li>Argumento de entrada: {{ArgDeEntrada}}</li>
        <li>Sistema Operativo: {{SistOperativo}}</li>
        <li>Version: {{Version}}</li>
        <li>Uso de Memoria: {{Memoria}}</li>
        <li>Path de Ejecucion: {{PathEje}}</li>
        <li>Id del Proceso: {{ProcessID}}</li>
        <li>Carpeta Corriente: {{CarpetaCorriente}}</li>
        <li>Numero de procesadores: {{NumeroDeProcesadores}}</li>
        </ul>
    </div>
</div>